<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>NameServlet</display-name>
    <servlet-name>NameServlet</servlet-name>
    <servlet-class>com.car.controller.NameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameServlet</servlet-name>
    <url-pattern>/NameServlet</url-pattern>
  </servlet-mapping>
  <display-name>CSS</display-name>
  <welcome-file-list>
    <welcome-file>chooselogin.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NameS</display-name>
    <servlet-name>NameS</servlet-name>
    <servlet-class>com.car.controller.NameS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameS</servlet-name>
    <url-pattern>/NameS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminloginServlet</display-name>
    <servlet-name>AdminloginServlet</servlet-name>
    <servlet-class>com.car.controller.AdminloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminloginServlet</servlet-name>
    <url-pattern>/AdminloginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerloginServlet</display-name>
    <servlet-name>CustomerloginServlet</servlet-name>
    <servlet-class>com.car.controller.CustomerloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerloginServlet</servlet-name>
    <url-pattern>/CustomerloginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerregisterServlet</display-name>
    <servlet-name>CustomerregisterServlet</servlet-name>
    <servlet-class>com.car.controller.CustomerregisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerregisterServlet</servlet-name>
    <url-pattern>/CustomerregisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCarDetails</display-name>
    <servlet-name>AddCarDetails</servlet-name>
    <servlet-class>com.car.controller.AddCarDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCarDetails</servlet-name>
    <url-pattern>/AddCarDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceRequest</display-name>
    <servlet-name>ServiceRequest</servlet-name>
    <servlet-class>com.car.controller.ServiceRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceRequest</servlet-name>
    <url-pattern>/ServiceRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCarDetailsOne</display-name>
    <servlet-name>EditCarDetailsOne</servlet-name>
    <servlet-class>com.car.controller.EditCarDetailsOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCarDetailsOne</servlet-name>
    <url-pattern>/EditCarDetailsOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCarDetailsTwo</display-name>
    <servlet-name>EditCarDetailsTwo</servlet-name>
    <servlet-class>com.car.controller.EditCarDetailsTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCarDetailsTwo</servlet-name>
    <url-pattern>/EditCarDetailsTwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServiceStatus</display-name>
    <servlet-name>CheckServiceStatus</servlet-name>
    <servlet-class>com.car.controller.CheckServiceStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServiceStatus</servlet-name>
    <url-pattern>/CheckServiceStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.car.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRegisteredCustomers</display-name>
    <servlet-name>GetRegisteredCustomers</servlet-name>
    <servlet-class>com.car.controller.GetRegisteredCustomers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRegisteredCustomers</servlet-name>
    <url-pattern>/GetRegisteredCustomers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetServiceRequest</display-name>
    <servlet-name>GetServiceRequest</servlet-name>
    <servlet-class>com.car.controller.GetServiceRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServiceRequest</servlet-name>
    <url-pattern>/GetServiceRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServiceRequest</display-name>
    <servlet-name>UpdateServiceRequest</servlet-name>
    <servlet-class>com.car.controller.UpdateServiceRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServiceRequest</servlet-name>
    <url-pattern>/UpdateServiceRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCustomer</display-name>
    <servlet-name>SearchCustomer</servlet-name>
    <servlet-class>com.car.controller.SearchCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCustomer</servlet-name>
    <url-pattern>/SearchCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomer</display-name>
    <servlet-name>DeleteCustomer</servlet-name>
    <servlet-class>com.car.controller.DeleteCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomer</servlet-name>
    <url-pattern>/DeleteCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoryOfServices</display-name>
    <servlet-name>HistoryOfServices</servlet-name>
    <servlet-class>com.car.controller.HistoryOfServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryOfServices</servlet-name>
    <url-pattern>/HistoryOfServices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServiceHistory</display-name>
    <servlet-name>CustomerServiceHistory</servlet-name>
    <servlet-class>com.car.controller.CustomerServiceHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServiceHistory</servlet-name>
    <url-pattern>/CustomerServiceHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutServlet</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>com.car.controller.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>